@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

h1 {
    padding-top: 30px;
}

body {
    font-family: 'Lato', sans-serif;
    color: #0b0b0b;
    font-size: 16px;
    background-color: #ffffff;
}

a, a:hover, a:visited {
    text-decoration: none;
    color: #0b0b0b;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.btn {
    color: #ffffff;
    box-shadow: 0px 0px 2px 1px #0b0b0b;
}

@media (max-width: 767px){
    body {
        font-size: 12px;
    }
}
