<section class="main-content">
    <div class="container">
        <div class="row">
            <header class="col-12 col-lg-8">
                <h1>Ranking Premier League</h1>
                <h2>w zasięgu ręki!</h2>
            </header>
            <article class="col-10 col-md-7 col-lg-4">
                <p>
                    Witamy w informatorze sportowym, w&nbsp;którym sprawdzisz najważniejsze informacje, dotyczące rankingu Premier League!
                </p>
                <button routerLink="/ranking" class="btn btn-secondary">Przejdź do tabeli</button>
            </article>
        </div>
    </div>
</section>
